<div class="homecontent">
<div class="row"   >
    <div class="column">
       <img class="homepic" src="/assets/img/pastures.jpg">        
       <h3 class="layeredtxt" >Lets Explore</h3>
    </div>
</div>
<div class="paracontainer">
        <h3 class="heading" >Biking in NW Florida</h3> 
        <p class="para">
                Welcome to Get Out and Ride!  This is a site for anyone looking for people to ride with in the Western region of Northwest Florida. 
                 Browse through the local bike clubs and nearby cycling events being held, or head on over to the ride share section.  There you can post a ride
                for other cyclists in the area to join you, or join other riders who have posted their rides.  Lets get together and explore!!!
            </p>   
</div>
<div class="row" >  
        <div class="column" >
                <img class="homepic" src="/assets/img/path.jpg"> 
             </div>
             <div class="column" style="width:1em;" >&nbsp;</div>
             <div class="column" >
                    <img class="homepic" src="/assets/img/road.jpg"> 
                 </div>
    </div>

<div class="paracontainer" style="padding-bottom:5em;" >    
                <p class="para">
                        There is so much the world has to offer when we step away from our screens and devices and wander into the wonderment that can be found outside. 
                        Exploring this planet of ours can be so rewarding. There is so much beauty to see heading down country roads, wooded paths, and along the coast 
                        as we take in the emerald blue water and beautiful white beaches. How can we not explore every nook and cranny.
                    </p>
</div>
</div>
   


 