.clubscontent {
    width:50%; 
    background-color:white;
    margin:1em auto;
    padding:1em;
}

@media screen and (max-width: 1050px) {
    .clubscontent {
        width:75%; } }

        @media screen and (max-width: 700px) {
            .clubscontent {
                width:100%; 
            margin-top:0px;
            padding-top:1em;
            padding-bottom:1em;
            padding-left:0px;
            padding-right:0px;} }
    
.title {
    font-size: 30pt;
}

@media screen and (max-width: 550px) {
    .title {
        font-size:20pt; } }
    
@media screen and (max-width: 380px) {
    .title {
        font-size:15pt; } }

.midsection {
    vertical-align: top;
    font-size:14pt;
}

.midpara {
    padding-right:2em;
}

.midimg {
    width:10em;
    height:10em;
    margin-right:1em;
    margin-bottom:1em;
    float:left;
}

@media screen and (max-width: 1000px) {
    .midimg {
        width:8em;
        height:8em; } }
    
@media screen and (max-width: 450px) {
    .midimg {
        width:5em;
        height:5em;
        margin-bottom:.5em; } }

.suggestlbl {
    cursor:pointer;
    font-size:smaller;
    color:rgb(16, 45, 141);
    font-style: italic;
    font-weight:500;
    margin-left:3em;
}

